

<div id="center2">

<h1 class="home-text3">Email not validated...</h1>
<h1 class="home-text4">Confirm email by following the link that was sent to yout email.</h1>

<form action="/authentication/email-resent" class="form-style-5" method="POST">
  <label for="email">Write your email below to resent email</label>
  <input type="text" name="email" id="email" placeholder="Enter your email here">
  <button>Sent</button>
</form>
</div>