<h1>profile</h1>
<p>This page should only be accessible to authenticated users.</p>
<figure><img src="{{user.picture}}" alt="" class="img-thumbnail rounded"></figure>
<span><strong>Name</strong>: {{user.name}}</span>
<br />
<span><strong>Email</strong>: {{user.email}}</span>
<br />
<span><strong>Address</strong>: {{user.address}}</span>
<br />
<a href="/authentication/edit">Edit Profile </a>
 <form action="/authentication/profile/delete" method="POST">
        <button>Delete Profile</button>
</form>
