<div>
  <img src="images/home-background.jpg" class="home-image" alt="background">
</div>

<div  class="home-button d-flex justify-content-center align-items-center">
  <select name="forma" onchange="location = this.value;" class="select-css">
    <option value="">I'm searching for a...</option>
    <option value="/animal/search-list/cat">Cat</option>
    <option value="/animal/search-list/dog">Dog</option>
</select>
{{!-- <button onclick="location.href='/animal/search-list'">Looking for a cat...</button>
<button onclick="location.href='/animal/search-list'">Looking for a dog...</button> --}}
</div>
  
{{!-- <select name="type-of-animal" id="type-of-animal">
  <option value="cat">Cat</option>
  <option value="dog">Dog</option>
</select>
 --}}

