<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div>
  <img src="images/home-background.jpg" position="absolute" alt="">
</div>
<form action="/search-list">
<select name="type-of-animal" id="type-of-animal"></select>


</form>