<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <nav class="">
      <ul class="p-4 d-flex justify-content-end align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        {{#if user}}
        <li class="nav-item">
          <a class="nav-link" href="/authentication/profile">{{user.name}}'s</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/animal/register-animal">Register Animal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/animal/search-list">Search</a>
        </li>
        <li class="nav-item">
          <form action="/authentication/sign-out" method="POST">
          <button>Sign Out</button>
        </form>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/authentication/sign-in">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/authentication/sign-up">Sign Up</a>
        </li>
      {{/if}}
    </ul>
    </nav>
    {{{body}}}
    <script src="/scripts/script.js"></script>
  </body>
</html>
{{!-- 
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul> --}}