<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <nav class="nav">
        <div class="container">
            <div class="logo">
                <a href="/"><img src="/images/pata.png" alt="" class="nav-icon"></a>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                  {{#if user}}
                    <li><a href="/authentication/profile">{{user.name}}'s</a></li>
                    <li><a href="/animal/register-animal">Register Animal</a></li>
                    <li><a href="/animal/search-list">Search</a></li>
                    <li><form action="/authentication/sign-out" method="POST">
          <button>Sign Out</button>
        </form></li>
                    {{else}}
                      <li class="nav-item">
                        <a class="nav-link" href="/authentication/sign-in">Sign In</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/authentication/sign-up">Sign Up</a>
                      </li>
                    {{/if}}
                </ul>
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>
    <div>
  <img src="/images/background-all.jpg" class="home-image" alt="background">
</div>
    {{{body}}}
    <script src="/scripts/script.js"></script>
    <script>$('.navTrigger').click(function () {
    $(this).toggleClass('active');
    console.log("Clicked menu");
    $("#mainListDiv").toggleClass("show_list");
    $("#mainListDiv").fadeIn();

});
</script>
  </body>
</html>
