<form action="">
  <label for="name">Name</label>
  <input type="text" required placeholder="Animal's Name">

  <label for="specie">Animal Specie</label>
  <select name="specie" id="specie">
    <option value="cat">Cat</option>
    <option value="dog">Dog</option>
  </select>

  <label for="breed">Breed</label>
  <select name="" id="" placeholder="Animal's Name">
    <option value="Any">Qualquer</option>
    <option value="----- Gatos -----">----- Gatos -----</option>
    <option value="Europeu">Europeu</option>
    <option value="Angorá" selected>Angorá</option>
    <option value="Azul Russo" selected>Azul Russo</option>
    <option value="B. Noruega" selected>B. Noruega</option>
    <option value="Other breed..." selected>Outra Raça...</option>
    <option value="Persa" selected>Persa</option>
    <option value="Siamês" selected>Siamês</option>
    <option value="----- Cães -----" selected>----- Cães -----</option>
    <option value="Rafeiro" selected>Rafeiro</option>
  </select>

  <label for="animal-age">Age</label>
  <select name="animal-age" id="animal-age">
    <option value="lessThenOne">- 1 year</option>
    <option value="betweenOneandFive">1 to 5 Years</option>
    <option value="moreThenFive">+ 5 years</option>
  </select>

  <label for="animal-gender">Animal Gender</label>
  <select name="animal-gender" id="animal-gender">
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>

  <label for="animal-size">Animal Size</label>
  <select name="animal-age" id="animal-age">
    <option value="small">Small</option>
    <option value="medium">Medium</option>
    <option value="large">Large</option>
    <option value="x-large">Extra Large</option>
  </select>

  <label for="animal-vaccination">Animal Vaccination</label>
  <select name="animal-gender" id="animal-gender">
    <option value="yes">Yes</option>
    <option value="no">No</option>
  </select>

    <label for="animal-castration">Animal Castration</label>
  <select name="animal-gender" id="animal-gender">
    <option value="yes">Yes</option>
    <option value="no">No</option>
  </select>

  <label for="animal-picture">Animal Picture</label>
  <input type="file" accept="images/*" id="animal-picture" alt="Animal Image">

  <label for="animal-description">Animal Description</label>
  <textarea name="animal-description" id="animal-description" cols="30" rows="10">"Tell something about more about me..."</textarea>



</form>

{{!-- 
•	Cor
•	Descrição
•	Imagem
 --}}