
<section class="row">

<aside class="col-2 m-4" style="background-color:orange;">
  {{!-- Aqui vai ter os filtros --}}
  <h3>Filter</h3>
  {{> filters}}
</aside>
<div class="col-9 row">
  {{!-- Aqui vai ter os cards --}}
  {{#each animal}} 
  <div class="card col-md-3 m-4 p-0">
  <a href="/animal/single-animal/{{_id}}">
  <div>
    <img src="{{photos}}" alt="{{name}}'s Photos'">
  </div>
  <div class="d-flex justify-content-center">
    <h3>{{name}}</h3>
  </div>
  
</div>
  </a>
  {{/each}}
</div>
</section>