<section class="nav-padding row">

{{!-- <section class="row"> --}}

<aside class="col-2" position="stiky">
  {{!-- Aqui vai ter os filtros --}}
 
  {{> filters}}
</aside>
<div class="col-10 row mainanimal">
  {{!-- Aqui vai ter os cards --}}
  {{> cards}}

</div>
{{!-- </section> --}}
</section>